{{ define "index_header" }}
<nav class="navbar bg-light">
	<div class="container-fluid">
		<div class="navbar-brand clearfix">
			<a class="float-start" href="/">
				<img src="/static/vpsfree.png" alt="vpsFree.cz" width="180">
			</a>
			<h1 class="navbar-text float-start">Status</h1>
		</div>
		<span class="navbar-text">
			Rendered at: {{ .RenderedAt }}
		</span>
	</div>
</nav>
{{ end }}
