{{ define "title" }}{{ .Locale.T "app.title" }}{{ end }}

{{ define "content" }}
{{ template "index_header" . }}
{{ template "index_body" . }}
{{ end }}

{{ define "index_body" }}
{{ if .Notice.Any }}
<div class="row">
	<div class="col">
		<div class="alert alert-primary" role="alert">
			{{ .Notice.Html }}
			<hr>
			<p>{{ .Locale.TD "notice.updated_at" (dict "UpdatedAt" (.Notice.UpdatedAt.Format "Mon Jan _2 15:04:05 MST 2006")) }}</p>
		</div>
	</div>
</div>
{{ end }}

<div class="row">
	<div class="col">
		<h2>{{ .Locale.T "loading.title" }}</h2>
		<p>
			{{ .Locale.T "loading.body" }}
		</p>
	</div>
</div>
{{ end }}
