{{ define "title" }}vpsFree.cz Status{{ end }}

{{ define "content" }}
{{ template "index_header" . }}
{{ template "index_body" . }}
{{ end }}

{{ define "index_body" }}
{{ if .Notice.Any }}
<div class="row">
	<div class="col">
		<div class="alert alert-primary" role="alert">
			{{ .Notice.Html }}
			<hr>
			<p>Updated at {{ .Notice.UpdatedAt.Format "Mon Jan _2 15:04:05 MST 2006" }}</p>
		</div>
	</div>
</div>
{{ end }}

<div class="row">
	<div class="col">
		<h2>Initializing...</h2>
		<p>
			vpsFree.cz Status is initializing and will be ready in a few seconds,
			please try to refresh the page.
		</p>
	</div>
</div>
{{ end }}
